* {
    box-sizing: border-box;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #222;
    font-family: sans-serif;
    line-height: 1.35;
    margin: 0;
    padding: 0;
  }
  
  .hero {
    --border-radius: 12px;
    --transition-duration: 1000ms;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .hero__fullsize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  .hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: drop-shadow(0 5px 5px #0007);
    transition:
      top var(--transition-duration), 
      left var(--transition-duration), 
      width var(--transition-duration), 
      height var(--transition-duration),
      border-radius var(--transition-duration),
      transform var(--transition-duration),
      opacity var(--transition-duration);
  }
  
  .hero__content--hidden {
    visibility: hidden;
    transition: none;
    transform: none;
    opacity: 1;
    z-index: 0;
  }
  
  .hero__content--bottom {
    opacity: 0;
    transform: scale(1.5);
    z-index: 1;
  }
  
  .hero__content--top {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 2;
  }
  
  /* curtain */
  
  .hero__content--show-text::before {
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .hero__content--grow::before {
    transform: translateX(-100%);
    transition: none;
  }
  
  /* title */
  .hero__content--show-text .content__title {
    transform: translateY(0);
    transition: transform 300ms;
  }
  
  .hero__content--show-text .content__title .word {
    clip-path: inset(0);
    transition: clip-path 300ms;
  }
  
  .hero__content--grow .content__title {
    visibility: hidden;
    transform: translateY(48px);
    transition: none;
  }
  
  .hero__content--grow .content__title .word {
    clip-path: inset(0 0 48px);
    transition: none;
  }
  
  /* desc */
  
  .hero__content--show-text .content__desc {
    transform: translateY(0px);
    transition: transform 300ms;
  }
  
  .hero__content--show-text .content__desc .word {
    clip-path: inset(0);
    transition: clip-path 300ms;
  }
  
  .hero__content--grow .content__desc {
    visibility: hidden;
    transform: translateY(18px);
    transition: none;
  }
  
  .hero__content--grow .content__desc .word {
    clip-path: inset(0 0 18px);
    transition: none;
  }
  
  .hero__swiper {
    position: absolute;
    width: 70%;
    aspect-ratio: 2.5 / 1;
    right: 0px;
    bottom: 50px;
    padding: 15px 0;
    z-index: 1;
    user-select: none;
  }
  
  .swiper {
    --swiper-navigation-size: 20px;
    visibility: hidden;
  }
  
  .swiper.swiper-initialized {
    visibility: visible;
  }
  
  .swiper-slide-prev,
  .swiper-slide-active {
    opacity: 0;
  }
  
  .swiper-slide {
    display: flex;
  }
  
  .content {
    display: flex;
    position: relative;
    width: 100%;
    filter: drop-shadow(0 5px 5px #0007);
    overflow: hidden;
    z-index: 0;
  }
  
  .content--slide {
    position: relative;
    border-radius: var(--border-radius, 0);
  }
  
  .content__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff !important;
  }
  
  .content__desc {
    margin: 0;
    font-size: 18px;
  }
  
  .content--slide .content__title {
    font-size: 30px;
    margin: auto 0 0;
    padding: 0.35em 0.75em;
    color: #fff;
    background-color: rgba(245, 245, 245, 0.467);
  }
  
  .content--slide .content__desc {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  
  .content--hero {
    padding: 100px 50px 0;
    position: absolute;
    text-align: center;
    border-radius: 0;
  }
  
  .content--hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, hsl(49deg 70% 5% / 67%), transparent);
    pointer-events: none;
    z-index: -1;
  }
  
  .content--hero .content__title {
    font-size: 50px;
    font-weight: lighter;
    color: #fff;
    margin: 0 0 0.2em;
    padding: 0.1em 1em; /* Adjust padding as needed */
    padding-left: 0;
  }
  .content__text a{
    margin-top: 20px;
    padding: 10px 0px;
    color: #fff;
  }
  .content__text a .btn-txt{
    display: flex;
    gap: 4px;
  }
  
  .content--hero .content__text {
    text-align: start;
    width: 45%;
    margin: 0 auto; /* Center the text */
    opacity: 2; /* Set initial opacity to 0 for animation */
    transform: translateY(200px); /* Move text down initially */
    position: relative;
    left: -25%;
    transition: opacity 0.6s ease, transform 0.6s ease; /* Animation transition properties */
  }
  
  .content--hero.active .content__text {
    opacity: 1; /* Set opacity to 1 for animation */
    transform: translateY(0); /* Move text up */
  }
  .content__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  
  .swiper-button-next {
    right: auto !important;
    left: calc((100% - 25px * 2) / 3.5);
    top: calc(50% - 20px) !important;
    width: 40px;
    height: 40px;
    background-color: #fffb;
    border-radius: 50%;
    color: forestgreen;
  }
@media (max-width: 720px) {
  .content--slide .content__title {
    font-size: 10px;
    margin: auto 0 0;
    padding: 0.35em 0.75em;
    color: #fff;
    background-color: rgba(245, 245, 245, 0.467);
  }  
}